.gear-hardware{
  min-height: 100%;
  padding: .75rem;
  align-items: flex-start;
  text-align: left;
  &__content {
    margin-top: 60px;
    border-radius: 40px;
    width: 100%;
    height: 75%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: $white;
    font-size: 16px;
    position: relative;
    @include media-breakpoint-up(lg) {
      margin-top: 75px;
      font-size: 19px;
    }

  }
  &__main-title{
    font-size: 24px;
    color: $white;
    margin-bottom: 1rem;
    margin-top: 10vh;
    @include media-breakpoint-up(md){
      font-size: 32px;
    }
    @include media-breakpoint-up(lg){
      font-size: 54px;
    }
  }
}