.gear-options{
  color: $trainme-blue2;
  text-align: left;
  font-size: 14px;
  padding-top: 75px;
  padding-bottom: 75px;
  &__main-title{
    font-size: 16px;
    font-weight: normal;
    color: $trainme-blue2;
  }
  figure{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 110px;
    figcaption{
      font-size: 16px;
      @include media-breakpoint-up(md){
        font-size: 19px;
      }
    }
    img{

    }
  }
}