.good-reasons{
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
  text-align: left;
  @include media-breakpoint-up(lg){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .good-reasons__main-title{
    color: $trainme-grey3;
    font-size: 19px;
    line-height: 1.2;
  }
  .good-reasons__titles{

  }
  .good-reasons__item{
    border-bottom: solid 1px rgba(#C8C8D0, .5);
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    display: flex;
    opacity: 1;
    flex-direction: column;
    &:first-child{
      border-top: solid 1px rgba(#C8C8D0, .5);
    }
    a{
      font-size: 36px;
      background: -webkit-linear-gradient(45deg, $trainme-purple1 0%, $trainme-blue3 100%);
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px transparent;
      color: $white!important;
      opacity: 1;
      transition: ease-in-out opacity .3s;
      z-index: 1;
      cursor: pointer;
      font-weight: bold;
      line-height: 1.4;
      @include media-breakpoint-up(sm){
        line-height: 1.3;
        font-size: 48px;
      }
      @include media-breakpoint-up(md){
        font-size: 54px;
      }
      @include media-breakpoint-up(lg){
        font-size: 81px;
      }

    }

    &__hover-text{
      font-size: 1rem;
      color: $trainme-purple1;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      opacity: 0;
      transition: ease-in-out all .3s;
      @include media-breakpoint-up(lg){
        font-size: 19px;
      }
      p{
        margin-bottom: 0;
      }
    }
    &:hover{
      a{
        color: $white;
        opacity: 0;
      }
      .good-reasons__item__hover-text{
        opacity: 1;
      }
    }
  }

}
