.iphone{
  position: absolute;
  //left: 15%;
  z-index: 3;
  width: 158px;
  height: 320px;
  pointer-events: none;
  transition: ease-in-out all 1s;
  transform: translateZ(0);
  bottom: calc(95% - 320px);
  left: calc(50% - 79px);
  pointer-events: none;

  @include media-breakpoint-up(lg){
    height: 550px;
    width: 272px;
    bottom: calc(50% - 275px);
    left: calc(25% - 79px);
  }
  &>img{
    //transform-origin: center center;
    //transform: scale(1.025);
    height: 103%;
    width: 103%;
    position: absolute;
    top:-2%;
    left: -2%;
    z-index: 2;
    pointer-events: none;
    max-width: unset;
    transform: translateZ(0);
  }
  &__screens{
    border-radius: 15%;
    background-color: $white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: ease-in-out all .8s;
    transition-delay: 0s;
    pointer-events: none;
    transform: translateZ(0);
    img{
      height: 100%;
      width: 100%;
      flex: 0 0 auto;
      transition: ease-in-out all 1s;
      pointer-events: none;
    }
    .video-js{
      width: 158px;
      height: 320px;
      @include media-breakpoint-up(lg){
        width: 272px;
        height: 550px;
      }
    }
    video{
      width: 158px;
      height: 320px;
      flex: 0 0 auto;
      transition: ease-in-out all 1s;
      pointer-events: none;
      @include media-breakpoint-up(lg){
        width: 272px;
        height: 550px;
      }
    }
    &--screen-2{
      .iphone__screens {
        img, video{
          transform: translateY(-100%);
        }
      }
    }
    &--screen-3{
      .iphone__screens {
        img, video{
          transform: translateY(-200%);
        }
      }
    }
    &--screen-4{
      .iphone__screens {
        img, video{
          transform: translateY(-300%);
        }
      }
    }
    &--screen-5{
      .iphone__screens {
        img, video{
          transform: translateY(-400%);
        }
      }
    }
  }
  &--centered{
    width: 223px;
    height: 450px;
    left: calc(50% - 111px);
    bottom: calc(50% - 225px);
    //transform: scale(1);
    @include media-breakpoint-up(lg){
      height: 647px;
      width: 320px;
      left: calc(50% - 160px);
      bottom: calc(50% - 323.5px);
    }
  }
  &--bottom{
    width: 158px;
    height: 320px;
    left: calc(50% - 79px);
    bottom: 1rem;
    //transform: scale(1);
    @include media-breakpoint-up(lg){
      bottom: 1rem;
    }
  }
}