.schedule{
  min-height: 100%;
  color: $trainme-grey2;
  @include media-breakpoint-up(md){
    min-height: 60%;
  }
  &__text-area{
    text-align: left;
    @include media-breakpoint-down(sm){
      font-size: 1rem;
      line-height: 1.2;
    }
  }
  &__main-title{
    font-size: 22px;
    color: $trainme-blue2;
    @include media-breakpoint-up(sm){
      font-size: 24px;
    }
    @include media-breakpoint-up(md){
      font-size: 36px;
    }
  }
  &__image-area{
    position: relative;
    &__image-1{
      position: relative;
      z-index: 1;
      @include media-breakpoint-down(md){
        max-width: 150px;
      }
    }
    &__image-2,
    &__image-3{
      position: absolute;

    }
    &__image-2{
      top: 2rem;
      left: var(--bs-gutter-x, 0.75rem);
      @include media-breakpoint-down(md){
        max-width: 122px;
      }
    }
    &__image-3{
      bottom: 2rem;
      right: var(--bs-gutter-x, 0.75rem);
      @include media-breakpoint-down(md){
        max-width: 180px;
      }
    }
  }
}