.technical-specifications {
  min-height: 100%;
  text-align: left;
  font-size: 14px;
  color: $trainme-grey2;
  padding: 100px 0 70px;
  height: 100%;
  position: relative;
  @include media-breakpoint-up(md) {
    font-size: 16px;
    padding: 137px 0 70px;
  }

  .swiper-container {
    .swiper-slide {
      background-color: transparent;
      text-align: left;
    }
  }

  .row {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: solid 1px rgba($trainme-grey3, .5);

    &:last-child {
      border-bottom: solid 1px rgba($trainme-grey3, .5);
    }
  }

  &__main-title {
    font-size: 24px;
    color: $trainme-blue2;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
      font-size: 36px;
      margin-bottom: 3rem;
    }
  }

  p {
    margin-bottom: 0;
  }

  strong {
    font-size: 19px;
    color: $trainme-blue2;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }
}